.subtitle {
  margin: 0;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
}

.title {
  margin: 0.5rem 0;
  font-size: 16px;
}

.content_container {
  text-align: center;
}

.content {
  color: #333;
  padding: 2rem 0rem;
  text-align: left;
  font-size: 12px;
  white-space: pre-wrap;
}