.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 2rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  background: #FAFAFA;
  max-width: 400px;
}